<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <!-- build:style bundle --><!-- /build -->

    <!--[if gte IE 9]><!-->
    <link rel="stylesheet" href="/css/styles.css" media="all">
    <!--<![endif]-->

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/css/no-mq.css?" media="all">
    <![endif]-->

    <!-- build:script bundle --><!-- /build -->
    <title><%= name %></title>
  </head>
  <body ng-app="myApp" ng-cloak>
     <page-header></page-header>
     <!-- <div class="layout-constrain"> -->
       <ui-view></ui-view>
     <!-- </div> -->
     <page-footer></page-footer>
  </body>
</html>
